/* From Uiverse.io by doniaskima */
.loader {
  width: -moz-fit-content;
  width: fit-content;

  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  /* font-size: 20px; */
  /* background: radial-gradient(circle closest-side, #000 94%, #0000) */
  background: radial-gradient(circle closest-side, #033e1b 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}

.loader::before {
  content: "Loading...";
  /* content: "Loading..."; */
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #093b09);
  /* background-image: radial-gradient(circle closest-side, #fff 94%, #000); */
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}

/* =========================== 2nd ==================== */
/* From Uiverse.io by Ali-Tahmazi99 */
.load_row {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.load_row span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f76002;
  border-radius: 50px;
  animation: up-down6 0.5s ease-in infinite alternate;
}

.load_row span:nth-child(2) {
  background: #e85b04c4;
  animation-delay: 0.16s;
}

.load_row span:nth-child(3) {
  background: #e85b0491;
  animation-delay: 0.32s;
}

.load_row span:nth-child(4) {
  background: #e85b0456;
  animation-delay: 0.48s;
}

@keyframes up-down6 {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}
/* =========================== 2nd ==================== */

/* ======================== 3rd ======================== */
/* From Uiverse.io by Satwinder04 */
.loader3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #154326;
  animation: circle1 1s ease-in-out infinite;
}

.circle1:nth-child(2) {
  animation-delay: 0.2s;
}

.circle1:nth-child(3) {
  animation-delay: 0.4s;
}

.circle1:nth-child(4) {
  animation-delay: 0.6s;
}

.circle1:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes circle1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ======================== 3rd ======================== */

/* ============== Phone ================ */
@media only screen and (max-width: 767px) {
  /* phones */
  .loader {
    width: -moz-fit-content;
    width: fit-content;

    font-weight: bold;
    font-family: monospace;
    /* font-size: 30px; */
    font-size: 20px;
    /* background: radial-gradient(circle closest-side, #000 94%, #0000) */
    background: radial-gradient(circle closest-side, #033e1b 94%, #0000)
      right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear;
  }
  .circle1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #154326;
    animation: circle1 1s ease-in-out infinite;
  }
}
